
// TODO: for review: this is questionable -- it's done to be consistent with the legacy view, however that is inconsistent with the rest of the MFE
// h2 tags are automatically styled by our theme and we are overriding that here
.program-title {
  font-weight: normal;
  font-size: 2em;
}

.program-icon {
  width: 300px;
}